{% extends 'base.html' %}

{% block content %}
<form action="/" method="post">
    <label>
        Username     
        <input type="text" name="user" value="{{user}}"/> {{usererror}} {{lenerror}}
    </label>
    <label>
        <br><br>Password      
        <input type="password" name="password"/> {{passworderror}} {{error}}
    </label><br><br>
    <label>
        Verify Password     
        <input type="password" name="verify"/> {{lenerror1}}
    </label>
    <label>
        <br><br>Email (optional)    
        <input type="text" name="email" value="{{email}}"/> {{emailerror}}
    </label>
    <br><input type="submit"  value="Submit Query"/>
    </form>

{%endblock%}
